<nav>
  <ul>
    <li><%= link_to "Home", "/" %></li>
    <li><%= link_to "Chi Siamo", "/about" %></li>
    <li><%= link_to "Spettacoli", "/shows" %></li>
    <li><%= link_to "Amici", "/friends" %></li>
    <li><%= link_to "Contattaci", "/contacts" %></li>
  </ul>
</nav>
