<header id="header">
  <div class="logo container">
    <% link_to '/' do %>
      <%= image_tag 'logo.jpg' %>
    <% end %>
  </div>
</header>

<nav id="nav">
  <ul>
    <li class="<%= current_page.url == "/" ? "current" : "" %>"><%= link_to "Home", "/" %></li>
    <li class="<%= current_page.url == "/about/" ? "current" : "" %>"><%= link_to "Chi Siamo", "/about" %></li>
    <li class="<%= current_page.url == "/shows/" ? "current" : "" %>"><%= link_to "Spettacoli", "/shows" %></li>
    <li class="<%= current_page.url == "/friends/" ? "current" : "" %>"><%= link_to "Amici", "/friends" %></li>
    <li class="<%= current_page.url == "/contacts/" ? "current" : "" %>"><%= link_to "Contattaci", "/contacts" %></li>
  </ul>
</nav>

<div class="social-list-container">
  <ul class="social-list">
    <% dato.contacts.social_profiles.sort_by(&:position).each do |social_profile| %>
      <li>
        <% link_to social_profile.url, target: '_BLANK' do %>
          <%= image_tag "icons/#{social_profile.platform.icon_name}.png" %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
