<div class="content content-left">
    <article class="box page-content">
      <header>
        <h2><%= dato.current_show.title %></h2>
      </header>

      <section>
        <span class="image featured"><img src="<%= dato.current_show.cover.file.to_url %>" alt="<%= dato.current_show.title %>" /></span>
      </section>

      <section class="description--strong">
        <%= dato.current_show.description %>
      </section>
    </article>
</div>

    <% if dato.current_show.gallery_images.any? %>
      <div class="row mv1">
        <div class="12u">
          <section class="box features mv1">
            <h2 class="major"><span>Immagini</span></h2>
          </section>
          <%= partial "partials/image_gallery", locals: { gallery: dato.current_show.gallery_images } %>
        </div>
      </div>
    <% end %>

    <% if dato.current_show.gallery_videos.any? %>
      <div class="row mv1">
        <div class="12u">
          <section class="box features mv1">
            <h2 class="major"><span>Video</span></h2>
          </section>

          <%= partial "partials/video_gallery", locals: { gallery: dato.current_show.gallery_videos } %>
        </div>
      </div>
    <% end %>

