<div>
  <% gallery.sort_by(&:position).each_slice(1).to_a.each do |row| %>
    <div class="row">
      <% row.each do |video| %>
        <div class="12u 12u(mobile)">
          <section class="box feature">
            <a href="<%= video.content.url %>" class="image featured" target="_blank">
              <img src="<%= video.content.thumbnail_url %>" alt="<%= video.content.title %>" width="<%= video.content.width %>" height="<%= video.content.height %>" />
            </a>
          </section>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
