<div id="main-wrapper">
  <div id="main" class="container">
    <div class="row">
      <div class="12u">
        <div class="content">

            <article class="box page-content">
              <header>
                <h2><%= show.title %></h2>
              </header>
              <section>
                <span class="image featured"><img src="<%= show.cover.file.to_url %>" alt="<%= show.title %>" /></span>
                <%= show.description %>
              </section>
            </article>

        </div>
      </div>
    </div>

    <% if show.gallery_images.any? %>
      <div class="row 200%">
        <div class="12u">
          <section class="box features">
            <h2 class="major"><span>Immagini</span></h2>
          </section>
          <%= partial "partials/image_gallery", locals: { gallery: show.gallery_images } %>
        </div>
      </div>
    <% end %>

    <% if show.gallery_videos.any? %>
      <div class="row 200%">
        <div class="12u">
          <section class="box features">
            <h2 class="major"><span>Video</span></h2>
          </section>
          <%= partial "partials/video_gallery", locals: { gallery: show.gallery_videos } %>
        </div>
      </div>
    <% end %>

    <% if show.gallery_press_reviews.any? %>
      <div class="row 200%">
        <div class="12u">
          <section class="box features">
            <h2 class="major"><span>Rassegna Stampa</span></h2>
          </section>
          <%= partial "partials/press_review_gallery", locals: { gallery: show.gallery_press_reviews } %>
        </div>
      </div>
    <% end %>

  </div>
</div>
