<div id="main-wrapper">
  <div id="main" class="container">
    <div class="row">
      <div class="12u">
        <div class="content">

          <!-- Content -->

            <article class="box page-content">

              <header>
                <h1>Chi Siamo</h1>
              </header>

              <section>
                <span class="image featured"><img src="<%= dato.about.cover.file.to_url(fit: 'clip', w: 1200, h: 1200) %>" alt="Chi Siamo" /></span>
                <div class="description--strong">
                  <%= dato.about.description %>
                  <% if dato.about.legal_documents.count > 0 %>
                    <ul class="legal-documents">
                      <% dato.about.legal_documents.each do |legal_document| %>
                        <li>
                          <strong><%= legal_document.title %></strong>
                          <%= link_to '<i class="far fa-file-pdf"></i>', legal_document.url %>
                        </li>
                      <% end %>
                    </ul>
                  <% end %>
                </div>
              </section>

            </article>

        </div>
      </div>
    </div>
    <div class="row 200%">
      <div class="12u">

        <!-- Features -->
          <section class="box features">
            <h2 class="major about__company-heading"><span>La Compagnia</span></h2>
            <div>
              <% dato.about.team_members.sort_by(&:position).each_slice(4).to_a.each do |team_row| %>
                <div class="row">
                  <% team_row.each do |team_member| %>
                    <div class="3u 12u(mobile)">
                      <section class="box feature">
                        <a href="javascript:void(0)" class="image featured" style="cursor:default"><img src="<%= team_member.cover.file.to_url(fit: 'clip', w: 1200, h: 1200) %>" alt="<%= team_member.full_name %>" /></a>
                        <h3 style="color:#e6610c; font-size:1.5em; margin-bottom: 1.5em;"><a href="javascript:void(0)" style="cursor:default"><%= team_member.full_name %></a></h3>
                        <div class="description--condensed">
                          <%= team_member.description %>
                        </div>
                      </section>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </section>

          <section class="box features">
            <h2 class="major"><span>Collaboratori</span></h2>
            <div>
              <% dato.about.collaborators.sort_by(&:position).each_slice(4).to_a.each do |collaborators_row| %>
                <div class="row">
                  <% collaborators_row.each do |collaborator| %>
                    <div class="3u 12u(mobile)">
                      <section class="box feature">
                        <a href="javascript:void(0)" class="image featured" style="cursor:default"><img src="<%= collaborator.cover.file.to_url(fit: 'clip', w: 1200, h: 1200) %>" alt="<%= collaborator.name %>" /></a>
                        <h3 style="color:#e6610c; font-size:1.5em; margin-bottom: 1.5em;"><a href="javascript:void(0)" style="cursor:default"><%= collaborator.name %></a></h3>
                        <div class="description--condensed">
                          <%= collaborator.description %>
                        </div>
                      </section>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </section>

      </div>
    </div>
  </div>
</div>
