<div id="main-wrapper" class="contacts-page">
  <div class="container">
    <div class="row 200%">
      <div class="12u">

        <!-- About -->
          <section class="contacts-container">
            <h2 class="major contacts-heading"><span>Contattaci</span></h2>
            <p><strong style="color: #e6610c">Presidente</strong>: <%= dato.contacts.president %></p>
            <p><strong style="color: #e6610c">Direttore Artistico</strong>: <%= dato.contacts.artistic_director %></p>
            <p><strong style="color: #e6610c">E-mail</strong>: <%= link_to dato.contacts.email, "mailto:#{dato.contacts.email}" %></p>
            <p><strong style="color: #e6610c">Partita IVA</strong>: <%= dato.contacts.vat_id %></p>
            <p><strong style="color: #e6610c">Indirizzo</strong>: <%= dato.contacts.address %></p>
          </section>

      </div>
    </div>
  </div>

</div>
