<div class="contacts-page">
  <div class="container">
    <div class="row 200%">
      <div class="12u">

        <!-- About -->
          <section>
            <h2 class="bg--gray major"><span>Contattaci</span></h2>
            <p><strong>Presidente</strong>: <%= dato.contacts.president %></p>
            <p><strong>Direttore Artistico</strong>: <%= dato.contacts.artistic_director %></p>
            <p><strong>E-mail</strong>: <%= link_to dato.contacts.email, "mailto:#{dato.contacts.email}" %></p>
            <p><strong>Partita IVA</strong>: <%= dato.contacts.vat_id %></p>
            <p><strong>Indirizzo</strong>: <%= dato.contacts.address %></p>
          </section>

      </div>
    </div>

    <div class="row 200%">
      <div class="12u">

        <!-- Contact -->
          <section>
            <h2 class="bg--gray major"><span>I nostri account social</span></h2>
            <ul class="contact">
              <% dato.contacts.social_profiles.sort_by(&:position).each do |social_profile| %>
                <li>
                  <a class="icon fa-<%= social_profile.platform.icon_name %>" href="<%= social_profile.url %>">
                    <span class="label"><%= social_profile.name %></span>
                  </a>
                </li>
                <%= %>
              <% end %>
            </ul>
          </section>

      </div>
    </div>
  </div>

</div>
