<div id="main-wrapper">
  <div id="main" class="container">
    <div class="row">
      <div class="12u">
        <div class="content">

          <!-- Content -->

            <article class="box page-content">

              <header class="homepage__content-heading">
                <h2><%= dato.homepage.title %></h2>
              </header>

              <section>
                <span class="image featured"><img src="<%= dato.homepage.cover.file.to_url(fit: 'clip', w: 1200, h: 1200) %>" alt="" /></span>
              </section>

              <section class="description--strong">
                <%= dato.homepage.description %>
              </section>

              <% if dato.homepage.homepage_sponsor.present? %>
                <section class="homepage__sponsor">
                  <h2><%= dato.homepage.homepage_sponsor.title %></h2>

                  <section class="description--strong mb6">
                    <%= dato.homepage.homepage_sponsor.description %>
                  </section>
                  <span class="image featured"><img src="<%= dato.homepage.homepage_sponsor.cover.file.to_url(fit: 'clip', w: 1200, h: 1200) %>" alt="" /></span>
                </section>
              <% end %>
            </article>

            <% if dato.homepage.update_form.present? %>
              <section class="homepage__update-form">
                <h2 class="major"><span>Vuoi restare aggiornato sulle nostre iniziative?</span></h2>
                <%= link_to 'Compila il modulo', dato.homepage.update_form, class: 'button alt button--inline-block button--red', target: '_BLANK' %>
              </section>
            <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
