<!DOCTYPE html>
<html lang="it">
  <head>
    <%= partial "partials/head" %>
  </head>
  <body>
    <div id="page-wrapper">
      <%= partial "partials/header" %>
      <%= yield %>
      <%= partial "partials/footer" %>
    </div>
    <%= javascript_include_tag "jquery.min.js" %>
    <%= javascript_include_tag "jquery.dropotron.min.js" %>
    <%= javascript_include_tag "skel.min.js" %>
    <%= javascript_include_tag "skel-viewport.min.js" %>
    <%= javascript_include_tag "util.js" %>
    <%= javascript_include_tag "main.js" %>
  </body>
</html>
